<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.elmira.chartprogressbar">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ChartProgressbar">
        <activity android:name=".BarChartActivity"></activity>
        <activity android:name=".CubicLineChartActivity" />
        <activity android:name=".ActivitySemiCircularProgressBar" />
        <activity android:name=".ActivityAnyLine" />
        <activity android:name=".ActivityRadar" />
        <activity android:name=".ActivityPhilJayLine" />
        <activity android:name=".ProgressbarActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>